.profile-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 4px double #000000;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    min-width: 200px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgb(200, 218, 218), 10px 10px 8px darkgrey, 15px 15px 8px black;
}

.profile-img {
    border: 4px solid black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    min-width: 50px;
}

.blog-text {
    width: 70%;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 5px;
}

.posting {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    min-width: 280px;  
    margin-bottom: 15px;
}

.posts {
    min-width: 280px;
    min-height: 300px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 4px double black;
    box-shadow: 5px 5px 8px rgb(200, 218, 218), 10px 10px 8px darkgrey, 15px 15px 8px black;
    padding-top: 10px;
    margin-bottom: 20px;
}


.comment-pic {
    height: 45px;
    width: 45px;
    border-radius: 40px;
    border: 1px solid black;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    min-width: 30px;
    min-height: 30px; 
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 15px;
  }

  .leave-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 50px;
  }

  .comment-input {
    width: 450px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 15px;
  }

  .background-modal-div {
    z-index: 500;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.074);
    left: 0;
    top: 0;
  }

  .modal-box {
    background-color: white;
    width: 500px;
    height: 250px;
  }

  .delete-btn {
    float: right;
    margin-right: 10px; 
    font-size: 15px;
    margin-bottom: -5px;
  }
  .delete-btn:hover {
    background-color: rgb(176, 69, 69);
  }
  .delete-btn:active {
    transform: translatey(-1px);
  }
  .like-btn {
    float: right;
    background-color: transparent;
    background: transparent;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    margin-right: 15px;
  }

  .like-btn:active {
    transform: translatey(-1px);
  }

  .add-delete-container {
    display: flex;
    justify-content: space-between;
    align-content: end;
    padding: 10px;
  }

  .comment-section {
    border: 3px double black;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    width: 85%;
    display: flex;
    min-width: 250px;
    overflow: scroll;
    flex-direction: column;
    flex-wrap: wrap;  
  }

  .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: flex-start;
    gap: 10px;
  }

.comment-username {
  font-size: 15px;
}

.comment-title {
  font-size: 20px;
  padding-left: 5px;
}
.post-username {
  font-size: 15px;
}

.date {
  font-size: 15px;
  font-style: italic;
  float: right;
  margin-right: 20px;
}

.likes {
  float: right;
  margin-left: -10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 15px;
  color: black;

}

.blog-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.posts-container {
  width: 100%;
  min-width: 280px;
}

.user-card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}