
.login-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
}


.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(200, 218, 218);
    width: 300px;
    margin: 25px;
    border: 5px double;
    box-shadow: 5px 5px 8px cadetblue, 10px 10px 8px darkgrey, 15px 15px 8px black;
    border-radius: 20px;  
}

.username {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 250px;
    gap: 10px;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 250px;
    gap: 10px;
    /* margin-top: 10px; */
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color:rgb(200, 218, 218);
    border: 5px double;
    box-shadow: 5px 5px 8px cadetblue, 10px 10px 8px darkgrey, 15px 15px 8px black;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
}

.join {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
}

.h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    width: 100%;
    color: darkcyan;
}

input {
    width: 250px;
    min-width: 250px;
    height: 30px;
    border-radius: 15px;
    padding-left: 15px;
}


.login-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}
button {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(19, 19, 20);
    background-color: cadetblue;
}

button:hover {
    background-color: rgb(136, 210, 179);
    color:black;
}

button:active {
    transform: translatey(-1px);
}

.background-modal-div {
    z-index: 500;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.074);
    left: 0;
    top: 0;
}

.modal-box {
    background-color: rgb(200, 218, 218);;
    width: 500px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(19, 19, 20);
    font-size: 45px;
    font-weight: bolder;
    padding: 10px 10px;
}

.add-me-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.signup-header {
    text-align: center;
}

.login-height {
    height: 100%;
}